<div class="container" style="width:60%;">

  <form action="/records" method="POST">
    {{!-- title --}}
    <div class="d-flex mt-3">
      <p>*必填欄位</p>
      <h2 style="margin: 0 auto;">請編輯你的支出</h2>
    </div>
    {{!-- name --}}
    <div class="row my-3">
      <label for="input" class="col-sm-3 col-form-label">名稱*：</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="name" name="name" value="{{record.name}}">
      </div>
    </div>
    {{!--date --}}
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">日期*：</label>
      <input type="date" class="form-control ms-2" style="width: 30vw;" name="date" value="{{record.date}}" required>
    </div>

    {{!--category --}}
    <div class="row mb-3 d-flex flex-row">
      <label class="col-sm-3 col-form-label">類別*：</label>
      <div class="col-sm-9">
        <select class="form-select " id="autoSizingSelect " name="category" required>
          <option>{{record.category}}</option>
          {{#each categoryItem}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    {{!-- amount --}}
    <div class="row my-3">
      <label for="input" class="col-sm-3 col-form-label">金額*：</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" name="amount" value="{{record.amount}}" required>
      </div>
    </div>

    {{!-- submit button --}}
    <div class="row d-flex justify-content-center mt-4">
      <button type="submit" class="btn " style="width: 30vw;background-color:#80645A;color:#F9E3DE;">確認修改</button>
    </div>

  </form>



</div>