<div class="container" style="width: 60%;">
  <div class="d-flex flex-column mt-4 " style="color:#5A4D55;">
    <div class="col-9 ">
      <label class="visually-hidden" for="autoSizingSelect">category</label>
      <select class="form-select" id="autoSizingSelect ">
        <option selected>類別</option>
        <option value="1">One</option>
      </select>
    </div>

    <div class="col-9 d-flex justify-content-around align-items-center mt-2">

      <p class="text-center" style="font-size:28px;">總金額：</p>
      <p style="color:#5A4D55; font-size:50px;">33450</p>
      <button type="button" class="btn btn-warning text-center">New</button>
    </div>
    <div class="col-12">
      <ul class="list-group">
        {{!-- li start --}}
        {{#each records}}
        <li class="list-group-item mb-1" style="border-style: none; background-color:#E2AD9C;">
          <div class="row d-flex align-items-center">
            {{!-- icon --}}
            <div class="col-1">
              <i class="{{this.icon}}" style="font-size:25px; margin-right:10px;"></i>
            </div>
            {{!-- item --}}
            <div class="col-8 d-flex justify-content-between align-items-center ">
              <div class="title  ">
                <p class="my-0" style="font-size:20px;">{{this.name}}</p>
                <p class="my-0" style="font-size:14px;">{{this.date}}</p>
              </div>
              <p class="my-0" style="font-size:20px;">{{this.amount}}</p>
            </div>

            <div class="col-3 text-center ">
              <a href="/records/{{this._id}}"><i class="fas fa-edit" style="font-size: 20px;color:#5A4D55;"></i></a>
              <button type="submit" style="border:0px;background:none;color:#5A4D55;"><i
                  class="fas fa-trash-alt fa-lg"></i></button>
            </div>

          </div>
        </li>
        {{/each}}
      </ul>

    </div>

  </div>
</div>